@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p class="mt-3">
    Para poder crear su cuenta necesitamos que confirme su correo:
    <a id="confirm-link" href="@Model.EmailConfirmationUrl" class="btn btn-success ms-1 pt-1 pb-1">Confirmar su cuenta</a>
</p>
    }
    else
    {
<p>
            Por favor revise su correo electrónico para confirmar su cuenta.
</p>
    }
}

