@model Proyecto1SpecialTicket.Models.Compra

@{
    ViewData["Title"] = "Comprar entradas";
}

<h1 class="text-center mt-3">Comprar entradas</h1>

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" min="1" value="1"/>
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="FechaPago" class="control-label"></label>
                <input asp-for="FechaPago" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" />
                <span asp-validation-for="FechaPago" class="text-danger"></span>
            </div>
            <div class="form-group mb-3" style="display: none">
                <label asp-for="IdEntrada" class="control-label"></label>
                <input asp-for="IdEntrada" class="form-control" readonly value="@Model.IdEntrada" />
            </div>
            <div class="form-group d-flex align-items-center justify-content-between">
                <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-right-from-bracket"></i></a>
                <button type="submit" class="btn btn-success"><i class="fa-solid fa-money-bill pe-1"></i></i>Comprar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
