@model Proyecto1SpecialTicket.Models.Entrada

@{
    ViewData["Title"] = "Editar";
}

<h1 class="text-center mt-3">Editar entrada</h1>

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group mb-3">
                <label asp-for="Disponibles" class="control-label"></label>
                <input asp-for="Disponibles" class="form-control" />
                <span asp-validation-for="Disponibles" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="TipoAsiento" class="control-label"></label>
                <input asp-for="TipoAsiento" class="form-control" />
                <span asp-validation-for="TipoAsiento" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CreatedBy" class="control-label"></label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="UpdatedBy" class="control-label"></label>
                <input asp-for="UpdatedBy" class="form-control" />
                <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group mb-3">
                <label asp-for="IdEvento" class="control-label"></label>
                <select asp-for="IdEvento" class="form-control" asp-items="ViewBag.IdEvento"></select>
                <span asp-validation-for="IdEvento" class="text-danger"></span>
            </div>
            <div class="form-group d-flex align-items-center justify-content-between">
                <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-right-from-bracket"></i></a>
                <button type="submit" class="btn btn-success"><i class="fa-sharp fa-solid fa-floppy-disk pe-1"></i>Guardar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
